@import url("reset.css");

* {
	color: blue;
}

ul li{
	/* color: red; */
}

p {
	color: orange;
}

h2 {
	color: green;
}

.title {
	color: pink;
}

.first-title {
	color: brown;
}

#first-part {
	color:black;
}

[class*="te"] {
	color: red;
}

div.text {
	color: blue;
}

.title,
.text {
	color: yellow;
}

.main a {
	color: black;
	text-decoration: underline;
}

.text p {
	color: red;
}

.text * {
	color: grey !important;
}

.main > p {
	color: red;
}

.two-p ~ p {
	color: brown;
}

.two-p + p {
	color: red;
}


/* доп завдання */
/* li {
	color: green;
}

li span {
	color: green;
}

main > ul > li:first-child {
	color:red;
}

li ul > li {
	color: orange;
}

ul li span {
	color: orange;
}

ol li, ul li ol span {
	color: #5d5d5d;
}

ol li:first-child {
	color: #4597f7;
} */



/* ol li {
	color: lightblue;
} */
/* ul li > * {
	color: orange;
} */